In [2]:
## Notebook para criação da base com as quantidades vendidas por período para mostrar nos dashs

##### Iniciando o Notebook Incluir no projeto o token para exposição na nuvem caso seja necessário

In [1]:
# @hidden_cell
# The project token is an authorization token that is used to access project resources like data sources, connections, and used by platform APIs.
from project_lib import Project
project = Project(spark.sparkContext, 'de02faf2-fbe4-466f-b8cd-44296f096a9d', 'p-25957a2b4ca812c11c01435cf691ea3068358702')
pc = project.project_context

Waiting for a Spark session to start...
Spark Initialization Done! ApplicationId = app-20210530190625-0002
KERNEL_ID = e053e461-9a88-45b6-9f4a-8d28ee2261b7

**Importando algumas bibliotecas Utilizadas no projeto**

In [3]:
# Importando algumas bibliotecas
import sys
import types
import pandas as pd
from botocore.client import Config
import ibm_boto3

**Obter os dados e criar as tabelas temporárias para utilização com comandos SQL no spark**

In [4]:
dfcompra = spark.read.parquet(project.get_file_url("compra.snappy.parquet"))
dfcompraEntrega = spark.read.parquet(project.get_file_url("compraentrega.snappy.parquet"))
dfcompraSku = spark.read.parquet(project.get_file_url("compraentregasku.snappy.parquet"))
dflojista = spark.read.parquet(project.get_file_url("lojista.snappy.parquet"))
dfSKUcate = spark.read.parquet(project.get_file_url("skucategoria.snappy.parquet"))

In [5]:
# Criando a tabela temporaria
dfcompra.createOrReplaceTempView("compra")
dfcompraEntrega.createOrReplaceTempView("compraentrega")
dfcompraSku.createOrReplaceTempView("compraentregasku")
dflojista.createOrReplaceTempView("lojista")
dfSKUcate.createOrReplaceTempView("skucategoria")

In [10]:
spark.sql("SELECT 60 AS pub\
,CeSku.idskureferencia\
,Lj.idlojista\
,Lj.estado\
,CeSku.idcompraentrega\
,sc.iddepartamento\
,sc.nomedepartamento\
,sc.idsetor\
,sc.nomesetor\
,cast(CP.data as date) AS datacompra\
,cast((cast('2021-04-30' as date)-cast(CP.data as date)) as char(20)) AS diff_dias\
,cesku.idsku\
,cesku.valorvendaunidade\
,cesku.valorfrete \
FROM COMPRA CP \
JOIN compraentrega ce ON CP.idcompra = ce.idcompra AND cp.idbandeira = ce.idbandeira \
JOIN compraentregasku CeSku ON CE.idcompraentrega = Cesku.idcompraentrega \
AND ce.idbandeira = CeSku.idbandeira \
JOIN lojista Lj ON lj.idlojista = ce.idlojista AND lj.idbandeira = ce.idbandeira \
JOIN SKUCATEGORIA sc ON sc.idsku = CeSku.idsku \
WHERE lj.idlojista IN (10012,37450,92893,80333,64189) \
and cast(CP.data as date) >= cast('2021-04-30' as date) - 60 \
;").show()

+---+---------------+---------+------+---------------+--------------+--------------------+-------+--------------------+----------+----------------+----------+-----------------+----------+
|pub|idskureferencia|idlojista|estado|idcompraentrega|iddepartamento|    nomedepartamento|idsetor|           nomesetor|datacompra|       diff_dias|     idsku|valorvendaunidade|valorfrete|
+---+---------------+---------+------+---------------+--------------+--------------------+-------+--------------------+----------+----------------+----------+-----------------+----------+
| 60|        8154506|    37450|    SP|       96172423|            73|     Eletroportáteis|   2963|Chocolateira e Fo...|2021-03-12|1 months 18 days|   8154506|         254.9000|   25.9500|
| 60|     1505102152|    10012|    GO|       96269353|           836|          Automotivo|    836|          Automotivo|2021-03-16|1 months 14 days|1505102152|          39.0000|   31.6100|
| 60|     1501283149|    10012|    GO|      114314527|           836|          Automotivo|    990|               Motos|2021-03-17|1 months 13 days|1501283149|         599.9000|  100.4600|
| 60|     1503042197|    10012|    GO|      114333442|           836|          Automotivo|    990|               Motos|2021-03-17|1 months 13 days|1503042197|         599.9000|   30.7700|
| 60|       13553255|    10012|    GO|      116925041|          3279|               Áudio|   3279|               Áudio|2021-04-16|         14 days|  13388944|         229.0000|   64.8000|
| 60|     1503276658|    10012|    GO|      114319410|           836|          Automotivo|    990|               Motos|2021-03-17|1 months 13 days|1503276658|         699.9000|  134.5300|
| 60|     1501283149|    10012|    GO|      114495387|           836|          Automotivo|    990|               Motos|2021-03-19|1 months 11 days|1501283149|         599.9000|  126.2300|
| 60|     1502998643|    10012|    GO|      117469069|           836|          Automotivo|    990|               Motos|2021-04-21|          9 days|1502998643|         599.9000|  126.2300|
| 60|     1512120618|    92893|    SP|      116983573|           102|    Beleza e Saúde  |   2995|Hospitais, Clínic...|2021-04-16|         14 days|1512120618|          29.9000|   19.6400|
| 60|     1502998707|    10012|    GO|      117894046|           836|          Automotivo|    990|               Motos|2021-04-27|          3 days|1502998707|         599.9000|  151.3200|
| 60|     1512120618|    92893|    SP|      116747286|           102|    Beleza e Saúde  |   2995|Hospitais, Clínic...|2021-04-14|         16 days|1512120618|          29.9000|   10.3300|
| 60|        8154506|    37450|    SP|      113877561|            73|     Eletroportáteis|   2963|Chocolateira e Fo...|2021-03-13|1 months 17 days|   8154506|         254.9000|   47.1300|
| 60|     1504540521|    10012|    GO|      113675967|           836|          Automotivo|    990|               Motos|2021-03-11|1 months 19 days|1504540521|         599.9000|   91.7000|
| 60|     1508631772|    10012|    GO|       96381528|           836|          Automotivo|    990|               Motos|2021-03-19|1 months 11 days|1508631772|         599.9000|   91.7000|
| 60|     1505550031|    10012|    GO|       96052313|          2547|   Casa e Construção|    917|  Iluminação de Casa|2021-03-03|1 months 27 days|1505550031|          99.0000|   57.7600|
| 60|     1509144134|    64189|    SC|       97096381|            93|              Móveis|    693|            Cozinhas|2021-04-23|          7 days|1509144134|         398.1100|   36.0000|
| 60|        3185594|    37450|    SP|      115953132|           371|Utilidades Domést...|    412|         Lavanderia |2021-04-06|         24 days|     77625|          48.9000|   25.9500|
| 60|     1504540521|    10012|    GO|      114765979|           836|          Automotivo|    990|               Motos|2021-03-11|1 months 19 days|1504540521|        -599.9000|  -91.7000|
| 60|     1501355861|    10012|    GO|       96719064|           836|          Automotivo|    990|               Motos|2021-04-07|         23 days|1501355861|         849.9000|  129.2300|
| 60|     1502998701|    10012|    GO|      113801345|           836|          Automotivo|    990|               Motos|2021-03-12|1 months 18 days|1502998701|         599.9000|  138.5600|
+---+---------------+---------+------+---------------+--------------+--------------------+-------+--------------------+----------+----------------+----------+-----------------+----------+
only showing top 20 rows

## Tabela temporária -- Cria a tabela gerada em dataframe para gravação em disco

In [11]:
dfTabelaSaida = spark.sql("SELECT 60 AS pub\
,CeSku.idskureferencia\
,Lj.idlojista\
,Lj.estado\
,CeSku.idcompraentrega\
,sc.iddepartamento\
,sc.nomedepartamento\
,sc.idsetor\
,sc.nomesetor\
,cast(CP.data as date) AS datacompra\
,cast((cast('2021-04-30' as date)-cast(CP.data as date)) as char(20)) AS diff_dias\
,cesku.idsku\
,cesku.valorvendaunidade\
,cesku.valorfrete \
FROM COMPRA CP \
JOIN compraentrega ce ON CP.idcompra = ce.idcompra AND cp.idbandeira = ce.idbandeira \
JOIN compraentregasku CeSku ON CE.idcompraentrega = Cesku.idcompraentrega \
AND ce.idbandeira = CeSku.idbandeira \
JOIN lojista Lj ON lj.idlojista = ce.idlojista AND lj.idbandeira = ce.idbandeira \
JOIN SKUCATEGORIA sc ON sc.idsku = CeSku.idsku \
WHERE lj.idlojista IN (10012,37450,92893,80333,64189) \
and cast(CP.data as date) >= cast('2021-04-30' as date) - 60 \
;")

## GRAVAÇÃO EM DISCO** Os próximos passos é para gravação da tabela gerada em disco e disponibilizar nos ativos

In [12]:
dfTabelaSaida.repartition(1).write.mode("overwrite").parquet("/home/spark/shared/tmp/compra_produto.parquet")

In [14]:
dfTabelaSaida.repartition(1).write.mode("overwrite").csv('/home/spark/shared/tmp/compra_produto.csv')

In [15]:
# Obtendo credenciais para disponibilizar nos ativos
credentials_1 = {
    'IAM_SERVICE_ID': 'iam-ServiceId-f8ddc357-a261-42a2-a6f2-44ac38d6cc50',
    'IBM_API_KEY_ID': '5y97tXSIMk-o11IIlG-qhORjxg4zQ6yFprxqB54ntyX9',
    'ENDPOINT': 'https://s3-api.us-geo.objectstorage.service.networklayer.com',
    'IBM_AUTH_ENDPOINT': 'https://iam.cloud.ibm.com/oidc/token',
    'BUCKET': 'projetoviagrupo6-donotdelete-pr-ehmgbn0j3d7dfc',
    'FILE': 'compra.csv'
}

cgsClient = ibm_boto3.client(service_name='s3',
    ibm_api_key_id = credentials_1['IBM_API_KEY_ID'],
    ibm_auth_endpoint="https://iam.ng.bluemix.net/oidc/token",
    config=Config(signature_version='oauth'),
    endpoint_url='https://s3-api.us-geo.objectstorage.service.networklayer.com')

In [17]:
ls tmp/compra_produto.parquet/

part-00000-a412c337-13dd-4b20-a6dc-1c8c411e8f56-c000.snappy.parquet  _SUCCESS

In [18]:
cgsClient.upload_file(Filename='tmp/compra_produto.parquet/part-00000-a412c337-13dd-4b20-a6dc-1c8c411e8f56-c000.snappy.parquet',Bucket=credentials_1['BUCKET'],Key='compra_produto.parquet')

In [19]:
ls tmp/compra_produto.csv/

part-00000-4c790677-4187-4f04-8342-0199259926e3-c000.csv  _SUCCESS

In [20]:
cgsClient.upload_file(Filename='tmp/compra_produto.csv/part-00000-4c790677-4187-4f04-8342-0199259926e3-c000.csv',Bucket=credentials_1['BUCKET'],Key='compra_produto.csv')